<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>SistemaVagas</title>
</head>
<body>
    <h1 th:text="#{candidatura.cadastro.label}"></h1>
    <form th:action="@{/candidaturas/cadastrar}" method="post" enctype="multipart/form-data">
        <input type="hidden" name="vagaID" th:value="${vagaID}">
        <div>
            <label for="curriculo"><span th:text="#{candidatura.curriculo.label}"></span>:</label>
            <input type="file" id="curriculo" name="curriculo" accept="application/pdf" required>
        </div>
        <div>
            <button type="submit" th:text="#{submit.inscrever.label}"></button>
        </div>
    </form>
</body>
</html>