<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>SistemaVagas</title>
</head>

<body>
	<section>
		<div>
			<table>
				<thead>
					<tr>
						<th>#</th>
						<th th:text="#{candidatura.profissional_id.label}"></th>
						<th th:text="#{candidatura.vaga_id.label}"></th>
						<th th:text="#{candidatura.status.label}"></th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="candidatura : ${candidaturas}">
						<td th:text="${candidatura.id}"></td>
						<td th:text="${candidatura.profissional.id}"></td>
						<td th:text="${candidatura.vaga.id}"></td>

						<td sec:authorize="hasRole('ROLE_PROFISSIONAL')">
							<span th:text="${candidatura.status_candidatura}"></span>
						</td>
						<td sec:authorize="hasRole('ROLE_PROFISSIONAL')">
							<a th:href="@{/candidaturas/remover/{id} (id=${candidatura.id}) }" role="button">
								<span th:text="#{link.excluir.label}"></span>
							</a>
						</td>
						<td sec:authorize="hasRole('ROLE_EMPRESA')">
							<a th:href="@{/candidaturas/download/{id}(id=${candidatura.id})}" role="button">
								<span th:text="#{link.download.label}"></span>
							</a>
						</td>
						<td sec:authorize="hasRole('ROLE_EMPRESA')"
							th:if=${#dates.createNow().after(candidatura.vaga.dataLimite)}>
							<a th:href="@{/candidaturas/formEdicao/{id} (id=${candidatura.id}) }" role="button">
								<span th:text="#{link.editar.label}"></span>
							</a>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
</body>

</html>