<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SistemaVagas</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="selection-box" style="width: 500px;">
        <h1 th:text="#{admin.perfil}" style="margin-bottom: 30px;"></h1>
        <a href="/empresas/listar" th:text="#{empresa.listar.label}"></a>
        <a href="/profissionais/listar" th:text="#{profissional.listar.label}"></a>
        <div  style="text-align: start;">
            <b><a type="button" href="javascript:history.back()" style="width: fit-content;"><span th:text="#{previous.message}"></span></a></b>
        </div>
    </div>
</body>
</html>