<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>SistemaVagas</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="cadastro-box">
        <h1 th:text="#{candidatura.edicao.label}"></h1>
        <div style="text-align: center; font-size: 0.8em;">
            <p>
                <span th:text="#{profissional.label}"></span>:
                <span th:text="${candidatura.profissional.nome}"></span>
            </p>
            <p>
                <span>CPF:</span>
                <span th:text="${candidatura.profissional.cpf}"></span>
            </p>
        </div>
        <form th:action="@{/candidaturas/editar}" method="post">
            <input type="hidden" name="id" th:value="${id}">
            <select name="status" style="margin: 0 0 20px 0;">
                <option value="ABERTO" th:selected="${candidatura.status_candidatura == 'ABERTO'}" th:text="#{candidatura.status1.label}"></option>
                <option value="NÃO SELECIONADO" th:selected="${candidatura.status_candidatura == 'NÃO SELECIONADO'}" th:text="#{candidatura.status2.label}"></option>
                <option value="ENTREVISTA" th:selected="${candidatura.status_candidatura == 'ENTREVISTA'}" th:text="#{candidatura.status3.label}"></option>
            </select>
            <label for="linkEntrevista" th:text="#{candidatura.edicao.linkEntrevista.label}" ></label>
            <input type="text" name="linkEntrevista"/>
            <div style="display: inline-flex; justify-content: space-between; align-items: center;">
                <b><a type="button" href="javascript:history.back()" style="width: fit-content;"><span th:text="#{previous.message}"></span></a></b>
                <button type="submit" th:text="#{submit.atualizar.label}"></button>
            </div>
        </form>
    </div>
</body>
</html>