<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>SistemaVagas</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="navbar">
        <div>
            <a href="/home">SistemaVagas</a>
            <a sec:authorize="hasRole('ROLE_PROFISSIONAL')" href="/profissional">
                <i class="fas fa-user user-icon"></i>
            </a>
            <a sec:authorize="hasRole('ROLE_EMPRESA')" href="/empresa">
                <i class="fas fa-user user-icon"></i>
            </a>
            <a sec:authorize="hasRole('ROLE_ADMIN')" href="/admin">
                <i class="fas fa-user user-icon"></i>
            </a>
        </div>
    </div>
    <div class="cadastro-box">
        <h1 th:text="#{candidatura.edicao.label}"></h1>
        <div style="text-align: center; font-size: 0.8em;">
            <p>
                <span th:text="#{profissional.label}"></span>:
                <span th:text="${candidatura.profissional.nome}"></span>
            </p>
            <p>
                <span>CPF:</span>
                <span th:text="${candidatura.profissional.cpf}"></span>
            </p>
        </div>
        <form th:action="@{/candidaturas/editar}" method="post">
            <input type="hidden" name="id" th:value="${id}">
            <label for="status">Status</label>
            <select id="candidaturaStatus" name="status" style="margin: 0 0 20px 0;">
                <option value="ABERTO" th:selected="${candidatura.status_candidatura == 'ABERTO'}" th:text="#{candidatura.status1.label}"></option>
                <option value="NÃO SELECIONADO" th:selected="${candidatura.status_candidatura == 'NÃO SELECIONADO'}" th:text="#{candidatura.status2.label}"></option>
                <option value="ENTREVISTA" th:selected="${candidatura.status_candidatura == 'ENTREVISTA'}" th:text="#{candidatura.status3.label}"></option>
            </select>
            <div id="entrevista-link-input" style="display: none; justify-content: space-between; align-items: center; flex-direction: column;">
                <label for="linkEntrevista" th:text="#{candidatura.edicao.linkEntrevista.label}" ></label>
                <input type="text" name="linkEntrevista"/>
            </div>
            <div style="display: inline-flex; justify-content: space-between; align-items: center;">
                <b><a type="button" href="javascript:history.back()" style="width: fit-content;"><span th:text="#{previous.message}"></span></a></b>
                <button type="submit" th:text="#{submit.atualizar.label}"></button>
            </div>
        </form>
    </div>
    <script>
        let select = document.getElementById("candidaturaStatus");
        select.addEventListener("change", () => {
            if (select.value === "ENTREVISTA") {
                document.getElementById("entrevista-link-input").style.display = "flex";
            } else {
                document.getElementById("entrevista-link-input").style.display = "none";
            }
        });
    </script>
</body>
</html>