<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SistemaVagas</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="cadastro-box">

        <h1 th:text="#{empresa.cadastrar.label}"></h1>
        <form th:action="${empresa.id == 0} ? @{/empresas/criar} : @{/empresas/editar}" th:object="${empresa}"
            method="post">
            <input type="hidden" id="id" th:field="*{id}" />
            <input type="hidden" name="papel" th:value="${papel}" />
            <div>
                <label for="email" th:text="#{empresa.email.label}"></label>
                <input type="email" id="email" name="email" th:field="*{email}" th:classappend="${#fields.hasErrors('email')} ? is-invalid" required>
                <div>
                    <span th:errors="*{email}"></span>
                </div>
            </div>
            <div>
                <label for="senha" th:text="#{empresa.senha.label}"></label>
                <input type="password" id="senha" name="senha" th:field="*{senha}" th:classappend="${#fields.hasErrors('senha')} ? is-invalid" required>
                <div>
                    <span th:errors="*{senha}"></span>
                </div>
            </div>
            <div>
                <label for="cnpj" th:text="#{empresa.cnpj.label}"></label>
                <input type="text" id="cnpj" name="cnpj" th:field="*{cnpj}" th:classappend="${#fields.hasErrors('cnpj')} ? is-invalid" required>
                <div>
                    <span th:errors="*{cnpj}"></span>
                </div>
            </div>
            <div>
                <label for="nome" th:text="#{empresa.nome.label}"></label>
                <input type="text" id="nome" name="nome" th:field="*{nome}" th:classappend="${#fields.hasErrors('nome')} ? is-invalid" required>
                <div>
                    <span th:errors="*{nome}"></span>
                </div>
            </div>
            <div>
                <label for="descricao" th:text="#{empresa.descricao.label}"></label>
                <textarea id="descricao" name="descricao" rows="4" th:field="*{descricao}" th:classappend="${#fields.hasErrors('descricao')} ? is-invalid" required></textarea>
                <div>
                    <span th:errors="*{descricao}"></span>
                </div>
            </div>
            <div>
                <label for="cidade" th:text="#{empresa.cidade.label}"></label>
                <input type="text" id="cidade" name="cidade" th:field="*{cidade}" th:classappend="${#fields.hasErrors('cidade')} ? is-invalid" required>
                <div>
                    <span th:errors="*{cidade}"></span>
                </div>
            </div>
            <div style="display: inline-flex; justify-content: space-between; align-items: center;">
                <b><a type="button" href="javascript:history.back()" style="width: fit-content;"><span th:text="#{previous.message}"></span></a></b>
                <button type="submit" th:text="${empresa.id == 0} ? #{submit.cadastrar.label} : #{submit.atualizar.label}" style="height: fit-content;"></button>
            </div>
        </form>
    </div>
</body>

</html>
