<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SistemaVagas</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div  class="selection-box" style="width: 500px;">
        <h1 th:text="#{empresa.perfil}" style="margin-bottom: 30px;"></h1>
        <a href="/vagas/listarPorEmpresa" th:text="#{vaga.listaEmpresa.label}"></a>
        <a href="/home" th:text="#{previous.message}"></a>
    </div>
</body>
</html>
