<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>SistemaVagas</title>
</head>

<body>
	<section>
		<nav>
			<a th:href="@{/empresas/formCadastro}" role="button">
				<span th:text="#{empresa.cadastrar.label}"></span>
			</a>
		</nav>
		<div>
			<table>
				<thead>
					<tr>
						<th>#</th>
						<th th:text="#{empresa.email.label}"></th>
						<th th:text="#{empresa.nome.label}"></th>
						<th th:text="#{empresa.cnpj.label}"></th>
						<th th:text="#{empresa.descricao.label}"></th>
						<th th:text="#{empresa.cidade.label}"></th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="empresa : ${empresas}">
						<td th:text="${empresa.id}"></td>
						<td th:text="${empresa.email}"></td>
						<td th:text="${empresa.nome}"></td>
						<td th:text="${empresa.cnpj}"></td>
						<td th:text="${empresa.descricao}"></td>
						<td th:text="${empresa.cidade}"></td>
						<td>
							<a th:href="@{/empresas/formEdicao/{id} (id=${empresa.id}) }"
								role="button">
								<span th:text="#{link.editar.label}"></span>
							</a>
						</td>
						<td>
							<a th:href="@{/empresas/remover/{id} (id=${empresa.id}) }"
								role="button">
								<span th:text="#{link.excluir.label}"></span>
							</a>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</section>
</body>

</html>