<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>SistemaVagas</title>
</head>
<body>
    <h1 th:text="#{vaga.cadastro.label}"></h1>
    <form th:action="@{/vagas/cadastrar}" th:object="${vaga}" method="post">
        <div>
            <label for="remuneracao"><span th:text="#{vaga.cadastro.remuneracao.label}"></span>:</label>
            <input type="number" id="remuneracao" th:field="*{remuneracao}" th:classappend="${#fields.hasErrors('remuneracao')} ? is-invalid" required>
            <div>
                <span th:errors="*{remuneracao}"></span>
            </div>
        </div>
        <div>
            <label for="descricao"><span th:text="#{vaga.cadastro.descricao.label}"></span>:</label>
            <input type="text" id="descricao" th:field="*{descricao}" th:classappend="${#fields.hasErrors('descricao')} ? is-invalid" required>
            <div>
                <span th:errors="*{descricao}"></span>
            </div>
        </div>
        <div>
            <label for="dataLimite"><span th:text="#{vaga.cadastro.dataLimite.label}"></span>:</label>
            <input type="date" id="dataLimite" th:field="*{dataLimite}" th:classappend="${#fields.hasErrors('dataLimite')} ? is-invalid" required>
            <div>
                <span th:errors="*{dataLimite}"></span>
            </div>
        </div>
        <div>
            <button type="submit" th:text="#{submit.cadastrar.label}"></button>
        </div>
    </form>
</body>
</html>