<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>SistemaVagas</title>
</head>

<body>
	<section>

		<nav>
			<a th:href="@{/vagas/formCadastro}" role="button">
				<span th:text="#{vaga.cadastrar.label}"></span>
			</a>
		</nav>

		<div>
			<table>
				<thead>
					<tr>
						<th>#</th>
						<th th:text="#{vaga.cnpj_empresa.label}"></th>
						<th th:text="#{vaga.remuneracao.label}"></th>
						<th th:text="#{vaga.descricao.label}"></th>
						<th th:text="#{vaga.dataLimite.label}"></th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="vaga : ${vagas}">
						<td th:text="${vaga.id}"></td>
						<td th:text="${vaga.cnpj_empresa}"></td>
						<td th:text="${vaga.remuneracao}"></td>
						<td th:text="${vaga.descricao}"></td>
						<td th:text="${vaga.dataLimite}"></td>
						<td sec:authorize="hasRole('ROLE_EMPRESA')">
							<a th:href="@{/candidaturas/listarPorVaga/{id} (id=${vaga.id}) }" role="button">
								<span th:text="#{link.candidaturas.label}"></span>
							</a>
						</td>
					</tr>
				</tbody>
			</table>
		</div>

	</section>
</body>

</html>