<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>SistemaVagas</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="navbar">
        <div>
            <a href="/home">SistemaVagas</a>
            <a sec:authorize="hasRole('ROLE_PROFISSIONAL')" href="/profissional">
                <i class="fas fa-user user-icon"></i>
            </a>
            <a sec:authorize="hasRole('ROLE_EMPRESA')" href="/empresa">
                <i class="fas fa-user user-icon"></i>
            </a>
            <a sec:authorize="hasRole('ROLE_ADMIN')" href="/admin">
                <i class="fas fa-user user-icon"></i>
            </a>
        </div>
    </div>
    <div class="cadastro-box">

        <h1 th:text="#{profissional.cadastrar.label}"></h1>
        <form th:action="${profissional.id == 0} ? @{/profissionais/criar} : @{/profissionais/editar}"
            th:object="${profissional}" method="post">
            <input type="hidden" id="id" th:field="*{id}" />
            <div>
                <label for="email" th:text="#{profissional.email.label}"></label>
                <input type="email" id="email" th:field="*{email}"
                    th:classappend="${#fields.hasErrors('email')} ? is-invalid" required>
                <div>
                    <span th:errors="*{email}"></span>
                </div>
            </div>
            <div>
                <label for="senha" th:text="#{profissional.senha.label}"></label>
                <input type="password" id="senha" th:field="*{senha}"
                    th:classappend="${#fields.hasErrors('senha')} ? is-invalid" required>
                <div>
                    <span th:errors="*{senha}"></span>
                </div>
            </div>
            <div>
                <label for="cpf" th:text="#{profissional.cpf.label}"></label>
                <input type="text" id="cpf" th:field="*{cpf}" th:classappend="${#fields.hasErrors('cpf')} ? is-invalid"
                    data-mask="000.000.000-00" data-mask-selectonfocus="true" required>
                <div>
                    <span th:errors="*{cpf}"></span>
                </div>
            </div>
            <div>
                <label for="nome" th:text="#{profissional.nome.label}"></label>
                <input type="text" id="nome" th:field="*{nome}"
                    th:classappend="${#fields.hasErrors('nome')} ? is-invalid" required>
                <div>
                    <span th:errors="*{nome}"></span>
                </div>
            </div>
            <div>
                <label for="telefone" th:text="#{profissional.telefone.label}"></label>
                <input type="text" id="telefone" th:field="*{telefone}" th:classappend="${#fields.hasErrors('telefone')} ? is-invalid" 
                data-mask="(00) 0000-0000" data-mask-selectonfocus="true" required>
                <div>
                    <span th:errors="*{telefone}"></span>
                </div>
            </div>
            <div>
                <label for="sexo" th:text="#{profissional.sexo.label}"></label>
                <select id="sexo" th:field="*{sexo}">
                    <option value="M" th:text="#{profissional.sexo.masculino.label}"></option>
                    <option value="F" th:text="#{profissional.sexo.feminino.label}"></option>
                </select>
            </div>
            <div>
                <label for="dataNasc" th:text="#{profissional.dataNasc.label}"></label>
                <input type="date" id="dataNasc" th:field="*{dataNasc}"
                    th:classappend="${#fields.hasErrors('dataNasc')} ? is-invalid" required>
                <div>
                    <span th:errors="*{dataNasc}"></span>
                </div>
            </div>
            <div style="display: inline-flex; justify-content: space-between; align-items: center;">
                <b><a type="button" href="javascript:history.back()" style="width: fit-content;"><span
                            th:text="#{previous.message}"></span></a></b>
                <button type="submit"
                    th:text="${profissional.id == 0} ? #{submit.cadastrar.label} : #{submit.atualizar.label}"></button>
            </div>
        </form>

        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js"
            integrity="sha512-pHVGpX7F/27yZ0ISY+VVjyULApbDlD0/X0rgGbTqCE7WFW5MezNTWG/dnhtbBuICzsd0WQPgpE4REBLv+UqChw=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    </div>
</body>

</html>